.btn-blue {
	background-color: #c24e00;
	padding: 15px 30px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;}

#btn2 {background-color: #c24e00;
	padding: 15px 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;}

#btn3 {background-color: #c24e00;
	padding: 15px 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;}